{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- HERO
    ================================================== -->
    <section class="py-15 pt-xl-14 mt-n14 pb-lg-15 bg-dark bg-cover position-relative">
        <!-- Cursor position parallax -->
        <div class="position-absolute right-0 left-0 top-0 bottom-0">
            <div class="cs-parallax">
                <div class="cs-parallax-layer" data-depth="0.1">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-01.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.3">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-02.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-03.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-04.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.4">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-05.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.3">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-06.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-07.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-08.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.4">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-09.svg' %}" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.3">
                    <img class="img-fluid" src="{% static 'sources/img/parallax/layer-10.svg' %}" alt="Layer">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2" data-aos="fade-in">

                    <!-- Image -->
                    <img src="{% static 'sources/img/illustrations/illustration-4.png' %}" class="img-fluid ms-xl-5 mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="...">

                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1">
                    <!-- Heading -->
                    <h1 class="display-2 text-white mb-6" data-aos="fade-left" data-aos-duration="150">
                        More Than 100 <span class="display-1 text-orange fw-bold">Movies & Trailers</span>
                    </h1>

                    <!-- Form -->
                    <a href="{% url 'login' %}">
                        <form class="mb-6 me-xl-9" data-aos="fade-up" data-aos-duration="200">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-right-0 text-primary icon-xs rounded-left-xl">
                                        <!-- Icon -->

                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z" fill="currentColor"/>
                                                <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z" fill="currentColor"/>
                                            </svg>

                                    </span>
                                </div>
                                <input type="search" class="form-control ps-2 border-left-0 rounded-right-xl border-0" placeholder="Search for a Movie">
                            </div>
                        </form>
                    </a>


                    <!-- Text -->
                    <p class="text-white text-capitalize" data-aos="fade-up" data-aos-duration="200">
                        Trending Genres: War, Action, Drama, Romance, Comedy, Horror
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <!-- Shape -->
        <div class="shape shape-blur mb-n-1 shape-bottom shape-fluid-x svg-shim text-white-ice">
            <svg viewBox="0 0 1920 230" fill="none" xmlns="http://www.w3.org/2000/svg">
            	<path fill="currentColor" d="M0,229l1920,0V-0.4c0,25.8-19.6,47.3-45.2,49.8L54.8,223.8C25.4,226.6,0,203.5,0,174V229z"/>
            </svg>

        </div>
    </section>

    <!-- CALL ACTION
    ================================================== -->
    <section class="py-6 py-md-12 jarallax" data-jarallax data-speed=".8" style="background-image: url(sources/img/illustrations/illustration-5.jpg)">
        <div class="container text-center py-xl-7" data-aos="fade-up">
            <h1>Limitless Entertainments, More Fun Time</h1>
            <div class="font-size-lg mb-md-6 mb-4">Join today for Uninterrupted Access to Unlimited Movies. </div>
            <div class="mx-auto">
                <a href="{% url 'login' %}" class="btn btn-dark btn-x-wide lift d-inline-block rounded-xl">GET STARTED NOW</a>
            </div>
        </div>
    </section>

    <!-- FEATURED PRODUCT V2
    ================================================== -->
    <section class="pt-5 pb-9 pt-md-11 bg-dark bg-cover jarallax" data-jarallax data-speed=".8" style="background-image: url(sources/img/illustrations/illustration-3.svg)">
        <div class="container">
            <div class="text-center mb-5 mb-md-8">
                <h1 class="text-white mb-1">Popular Movies</h1>
                <p class="font-size-lg text-capitalize">Explore your Favourite Movies.</p>
            </div>

            <div class="mx-n4 flickity-button-outset" data-flickity='{"pageDots": false, "prevNextButtons": true, "cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
            {% for i in film %}
                <div class="col-12 col-md-6 col-xl-4 pb-4 pb-md-7" style="padding-right:15px;padding-left:15px;">
                    <!-- Card -->
                    <div class="card border rounded-xl shadow p-2 sk-fade">
                        <!-- Image -->
                        <div class="card-zoom position-relative">
                            <a href="{% url 'login' %}" class="card-img sk-thumbnail d-block">
                                <img class="rounded shadow-light-lg" src="{{i.thumbnail}}" alt="...">
                            </a>
                        </div>

                        <!-- Footer -->
                        <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                            <!-- Preheading -->
                                <a href="{% url 'login' %}"><span class="mb-1 d-inline-block text-gray-800">{{i.genre}}</span></a>

                            <!-- Heading -->
                            <div class="position-relative">
                                <a href="{% url 'login' %}" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-50 me-md-6 me-lg-10 me-xl-4 mb-2"><strong>{{i.film_name}}</strong></h4></a>
                                <a href="course-single-v5.html"><span class="mb-1 d-inline-block text-gray-800">Director: {{i.director_name}}</span></a>
                                <div class="d-lg-flex align-items-end flex-wrap mb-n0">
                                    <div class="font-size-sm">
                                        <span>Date of Release: {{i.release_date}}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mx-n2 align-items-end">
                                    <div class="col px-2">
                                        <ul class="nav mx-n3">
                                            <li class="nav-item px-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex icon-uxs text-secondary">
                                                        <!-- Icon -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                                                          <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                                                          <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                                                        </svg>

                                                    </div>
                                                    <div class="font-size-sm">{{i.industry}}</div>
                                                </div>
                                            </li>
                                            <li class="nav-item px-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex icon-uxs text-secondary">
                                                        <!-- Icon -->
                                                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M14.3164 4.20996C13.985 4.37028 13.8464 4.76904 14.0067 5.10026C14.4447 6.00505 14.6667 6.98031 14.6667 8C14.6667 11.6759 11.6759 14.6667 8 14.6667C4.32406 14.6667 1.33333 11.6759 1.33333 8C1.33333 4.32406 4.32406 1.33333 8 1.33333C9.52328 1.33333 10.9543 1.83073 12.1387 2.77165C12.4259 3.00098 12.846 2.95296 13.0754 2.66471C13.3047 2.37663 13.2567 1.95703 12.9683 1.72803C11.5661 0.613607 9.8016 0 8 0C3.58903 0 0 3.58903 0 8C0 12.411 3.58903 16 8 16C12.411 16 16 12.411 16 8C16 6.77767 15.7331 5.60628 15.2067 4.51969C15.0467 4.18766 14.6466 4.04932 14.3164 4.20996Z" fill="currentColor"/>
                                                            <path d="M7.99967 2.66663C7.63167 2.66663 7.33301 2.96529 7.33301 3.33329V7.99996C7.33301 8.36796 7.63167 8.66663 7.99967 8.66663H11.333C11.701 8.66663 11.9997 8.36796 11.9997 7.99996C11.9997 7.63196 11.701 7.33329 11.333 7.33329H8.66634V3.33329C8.66634 2.96529 8.36768 2.66663 7.99967 2.66663Z" fill="currentColor"/>
                                                        </svg>

                                                    </div>
                                                    <div class="font-size-sm">{{i.length}}</div>
                                                </div>
                                            </li>
                                            <li class="nav-item px-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex icon-uxs text-secondary">
                                                        <div class="icon" style="color:red;">
                                                           <span class="m-2 icon-xs" data-toggle="tooltip" data-placement="top" title="icon-heart.svg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                           </svg>
                                                        </span>
                                                        </div>
                                                            <span>{{i.likes}} Likes</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <!-- PRICE TABLE
    ================================================== -->
    <section class="py-8 py-md-11 bg-white">
        <div class="container">
            <div class="text-center mb-5 mb-md-8">
                <h1 class="mb-1">Our Subscription Plans</h1>
                <p class="font-size-lg text-capitalize">Discover Limitless Entertainment Without Emptying Your Pockets</p>
            </div>
            <div class="row justify-content-center">
              {% for i in subscription_plan %}
                <div class="col-md-6 col-lg-4 mb-6 mb-lg-0">
                    <!-- Card -->
                    <div class="card rounded-xl text-center card-border-action">
                        <div class="card-body position-relative p-6 pt-10 p-md-8 pt-md-10">
                            <h3 class="mb-1">{{i.plan_name}}</h3>
                            <h1 class="mb-5">Rs. {{i.plan_amount}}</h1>

                            <p class="mb-8" style="font-size:20px">Enjoy uninterrupted Access for <b>{{i.plan_validity}} Days</b></p>
                            <ul class="card-list list mb-9">
                                <li class="list-item mb-6">Access to All Movies and Trailers</li>
                                <li class="list-item mb-6">Ad Free</li>
                                <li class="list-item mb-6">User Support</li>
                                <li class="list-item mb-6">Notified Updates</li>
                            </ul>

                            <a href="{% url 'register' %}" class="btn btn-outline-dark btn-wide lift d-inline-block rounded-xl">GET STARTED</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}