{% load static %}
   <!-- FOOTER
    ================================================== -->
    <footer class="pt-8 pt-md-13 pt-xl-15 position-relative bg-light">
        <!-- Shape -->
        <div class="shape shape-blur mb-n-1 shape-top shape-flip-both svg-shim text-white mt-n-1">
            <svg viewBox="0 0 1920 230" fill="none" xmlns="http://www.w3.org/2000/svg">
            	<path fill="currentColor" d="M0,229l1920,0V-0.4c0,25.8-19.6,47.3-45.2,49.8L54.8,223.8C25.4,226.6,0,203.5,0,174V229z"/>
            </svg>

        </div>

        <div class="container">
            <div class="row" id="accordionFooter">
                <div class="col-12 col-md-4 col-lg-4">

                    <!-- Brand -->
                    <div align="right">
                        <a class="navbar-brand" href="{% url 'Home_page' %}">
                            <div class="heading">
                                FilmiView
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>
